<form class="reclamation-form" (ngSubmit)="addReclamation()" #reclamationForm="ngForm">
<h2>Add Reclamation</h2>
  <div class="form-group">

    <div class="card flex justify-content-center">
      <div class="flex flex-column gap-2">
        <label htmlFor="type">Type</label>
        <input pInputText placeholder="Enter your type of reclamation" size="30" name="type" id="type" aria-describedby="username-help" [(ngModel)]="reclamation.type" />

      </div>
    </div>
  </div>

  <div class="form-group">


    <div class="card flex justify-content-center">
      <div class="flex flex-column gap-2">
        <label htmlFor="contenuRec">Contenu</label>
        <input pInputText placeholder="Enter your content of reclamation" size="30" name="contenuRec" id="contenuRec" aria-describedby="username-help" [(ngModel)]="reclamation.contenuRec" />
      </div>
    </div>

  </div>



  <div class="button-group">
    <button type="submit" class="btn btn-primary" [disabled]="reclamationForm.invalid">Ajouter la réclamation</button>
    <br><br>    <br>

    <button type="button" class="btn btn-secondary" (click)="resetForm()">Réinitialiser</button>
    <br><br><br><br>
    <a class="btn btn-secondary" routerLink="/project/reclamations">Liste des réclamations</a>
  </div>
</form>
