<div class="space-y-5 border-b border-gray-300 py-7 px-1.5 sm:px-7">
  <div class="flex flex-col space-y-3">
    <a class="cursor-pointer font-semibold text-zinc-800 hover:text-blue-900 hover:underline">Find leads of small businesses using Shopify located in the Ontario area</a>
    <p-chip label="Amy Elsner" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"></p-chip>
    <small class="space-x-1 text-sm text-zinc-500"
      ><strong>Hourly: $30.00-$8.00</strong><span>-</span><span>Intermediate</span><span>-</span><span>Est. Budget:</span><span>1 to 3 months, Less than 30 hrs/week</span
      ><span>-</span><span>Posted</span><span>1 hour ago</span></small
    >

    <p class="text-[15px] text-zinc-800">
      Looking for an experienced individual who has a strong understanding of Lead Generation/ Data Entry. The purpose of this job is to source and build a contact list of small
      businesses that are located in the Ontario area. They must be using Shopify to host their websites. The responsibilities for this job are as follows: -Discover small
      businesses located in Ontario Canada that use Shopify to host their website- Use various research tools, Google and LinkedIn to discover the direct emails of marketing
      departments/business owners -Ability to locate any other relevant business information. -Thoroughly review all leads to ensure they meet our requirements. -Dedication to meet
      project deadlines in a timely manner - Data entry tasks using excel/Google sheets and potentially HubSpot. - The ability to communicate with our team on a daily basis using
      Upwork and Email&quot;
    </p>
    <div class="flex flex-wrap items-start space-x-2 space-y-1">
      <p-chip>
        <small class="m-2 font-bold">Content</small>
      </p-chip>
      <p-chip>
        <small class="m-2 font-bold">Content</small>
      </p-chip>
      <p-chip>
        <small class="m-2 font-bold">Content</small>
      </p-chip>
    </div>
  </div>
</div>
