<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Congratulations
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">User !</li>
      <li class="content__container__list__item" style='font-size:30px;'>🙋‍♂️</li>
      <li class="content__container__list__item">,Welcome ! </li>
      <li class="content__container__list__item" style='font-size:30px;'>😀</li>
     
    
    </ul>
  </div>
</div>

<div class="confetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
 
  </div>

  