<div class="container flex content-center justify-center">
  <div class="grid grid-cols-12">
    <div class="col-span-5 m-0 p-1">
      <div class="inline leading-5">
        <small class="mr-2 text-gray-500">{{ step }}/5</small>
        <span>{{ stepLabel[step - 1] }}</span>
      </div>

      <h2>Write a title for your job post</h2>
      <p>This helps your job post stand out to the right candidates. It’s the first thing they’ll see, so make it count!</p>
    </div>
    <div class="col-span-1 h-96" style="width: 100px">
      <p-divider layout="vertical"> </p-divider>
    </div>
    <div class="col-span-6 font-bold">
      <h4>Write a title for your job post</h4>
      <input class="w-[100%]" type="text" pInputText />

      <div class="block">
        <label class="w-full text-left text-sm font-medium">Example titles </label>

        <ul id="disc">
          <li>UX/UI designer to bring website mockup and prototype to life</li>
          <li>Video editor needed to create whiteboard explainer video</li>
          <li>UX designer with e-commerce experience to support app development</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p-footer>
  <div class="mb-20 w-full">
    <p-progressBar [value]="progress" [style]="{ height: '6px ' }"> </p-progressBar>
  </div>
  <div class="button-container">
    <p-button *ngIf="step > 1" label="Back" icon="pi pi-times" styleClass="p-button-outlined left-button" (onClick)="setStepBack()"></p-button>
    <p-button [label]="'Next : ' + stepLabel[step]" icon="pi pi-check" styleClass="p-button right-button" (onClick)="setStepForward()"></p-button>
  </div>
</p-footer>
