<div class="container flex content-center justify-center">
  <div class="grid grid-cols-12">
    <div class="col-span-5 m-0 p-1">
      <div class="inline leading-5">
        <small class="mr-2 text-gray-500">1/5</small>
        <span>Headline</span>
      </div>

      <h2>Write a title for your job post</h2>
      <p>This helps your job post stand out to the right candidates. It’s the first thing they’ll see, so make it count!</p>
    </div>
    <div class="col-span-1 h-96" style="width: 100px">
      <p-divider layout="vertical"> </p-divider>
    </div>
    <div class="col-span-6 font-bold">
      <h4>lets test this bitch</h4>
      <input class="w-[80%]" type="text" pInputText />
    </div>
  </div>
</div>
<div class="test flex content-end justify-end">
  <p-button label="Success" styleClass="p-button-rounded p-button-success  mb-7 pb-2">fdsfdsfds</p-button>
</div>
